* {
  box-sizing: border-box;
  font-size: 14px;
}

.App {
  text-align: center; 
}

/* Styling to Forms Elements */
.container {
  width: 30%;
  height: 470px;
  margin: 115px auto;
  padding: 10px 20px;
  background: #e2e0e0;
  box-shadow: 0px 2px 2px #000000a6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #2b2929;
  font-family: tahoma;
}

.container h1 {
  font-size: 28px;
}

.input-box {
  width: 75%;
  padding: 10px 8px;
  border-radius: 4px;
  margin: 15px auto 0px auto;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px #00000013;
}

.submit {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color:#8862d0;
  margin: 30px auto;
}

.submit:hover {
  background-color: #3d217e;
  transition: all 0.7s ease;
}

.logo {
  animation: Login-logo-spin 5s linear;
  animation-iteration-count: 1;
  align-self: center;
}

@keyframes Login-logo-spin {
  0% {
    transform: translatex(50);
  }
  25% {
    transform: translatex(-50px);
  }
  50% {
    transform: translatex(50px);
  }
  75% {
    transform: translatex(-50px);
  }
  100% {
    transform: translatex(0px);
  }
}




.App-link {
  color: #61dafb;
}

/* Messenger Design */
.messenger-box {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.conversationList-box-outer {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  overflow: auto;
}

.conversationList-box-inner {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.add-contact {
  flex: 0 0 auto;
  font-size: 26px;
  height: 62px;
  background-color: #fff;
  border: 1px solid #00000013;
}

/* Styling to every Conversation */

.conversation-box {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #00000013;
}

h4,p {
  margin: 10px 10px 0 10px;
}

.pro-img-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(174, 151, 212);
}

.profile {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-top: -10px;
}

.left-div-conv {
  flex-grow: 4;
  width:50px;
  height: 60px;
}

.right-div-conv {
  direction: rtl;
  flex-grow: 1;
  width: 50px;
  height: 60px;
}

.time,.un-read-msg {
  color: #808080;
  margin: 10px; 
}

.un-read-msg {
  border-radius: 12px;
  background-color: #59a309f5;
  color: #fff;
  padding: 2px 6px;
}

/* chat design */
.chat-box-outer {
   display: flex;
  flex-direction: column; 
  flex-grow: 7;
  overflow: auto;

}
.chat-box-inner {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.recived-msg {
  align-self: flex-start;
  margin: 5px;
}

.sended-msg {
  align-self: flex-end;
  margin: 5px;
}

.snd-msg-spn {
  background-color: #9dee47b6;
 
}

.rcv-msg-spn {
  background-color: #fff;
}

.rcv-msg-spn,.snd-msg-spn {
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  display: inline-block;
  line-height: 1.4em;
}

header,footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border: 1px solid #00000013;
}

header {
  flex: 0 0 auto;
  padding: 0 10px;
}

footer {
  flex: 0 0 auto;
}


textarea { 
  resize: none;
  overflow: hidden;
  width: 60%;
  border: 0px;
  margin: 10px 30px ;
  padding: 10px;
  height:30px;
  font-size: 14px;
}

.send-msg-btn {
  flex: 0 3 auto;
  align-self: center;

}

/* Start design scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #80808000; 
  border-radius: 5px; height: 30px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff00; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d859aed3; 

}
/* End Design scrollbar */