* {
  box-sizing: border-box;
}

.App {
  text-align: center; 
}

/* Styling to Forms Elements */
.container {
  width: 30%;
  height: 425px;
  margin: 115px auto;
  padding: 10px 20px;
  background: #e2e0e0;
  box-shadow: 0px 2px 2px #000000a6;
  border-radius: 5px;
  display: flex;
  flex: nowrap;
  text-align: center;
  color: #2b2929;
  font-family: tahoma;
}

.input-box {
  
  width: 75%;
  padding: 10px 8px;
  border-radius: 4px;
  margin: 10px auto;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px #00000013;
}

.submit {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color:#8862d0;
  margin: 30px auto;
}

.submit:hover {
  background-color: #3d217e;
  transition: all 0.7s ease;
}

.logo {
  animation: Login-logo-spin 5s linear;
  animation-iteration-count: 1;
}

@keyframes Login-logo-spin {
  0% {
    transform: translatex(50);
  }
  25% {
    transform: translatex(-50px);
  }
  50% {
    transform: translatex(50px);
  }
  75% {
    transform: translatex(-50px);
  }
  100% {
    transform: translatex(0px);
  }
}



.App-header  
{
 background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.conversationList-box {
  width: 35%;
  /* height: 500px; */
  padding: 2px;
  border: 1px solid #c7c0c0b4;
  display: inline-block;
}

.chat-box {
  width: 65%;
  /* height: 500px; */
  
  border: 1px solid #c7c0c0b4; 
  display: inline-block;
}

.conversation-box {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fff7f7da;
  border-radius: 2px;

}

.span-pro-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: blue;
}

.profile.img {
  width: 50px;
  height: 50px;
  background-image: -webkit-linear-gradient(blue,red)
}
