* {
  box-sizing: border-box;
  font-size: 14px;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('./image/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
}

/* Styling to Forms Elements */
.container {
  width: 30vw;
  padding: 30px;
  box-shadow: 0px 2px 2px #000000a6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #2b2929;
  font-family: tahoma;
  background-image: linear-gradient(25deg, #29292952, #57575185, #29292993,  #57575193, #2929297c); 
}

.container h1 {
  font-size: 28px;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 4px;
  margin-top: 15px;
  border: 2px solid #963e63;
  box-shadow: inset 0px 1px 10px #963e63;
}

.input-box-inner {
  flex-grow: 8;
  background: transparent;
  border: none;
  margin-left: 10px;
  font-size: 16px;
  font-family: tahoma;
  font-weight: 600;
}

.material-icons {
  flex-grow: 1;
  width: 15px;
}

::-webkit-input-placeholder{
  color: #e7bacd;  
}
 
.submit {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
  background-color: #c7608c;
  margin-top: 30px;
}

.submit:hover {
  background-color: #74304c;;
  transition: all 0.7s ease;
}

.logo {
  width: 120px;
  align-self: center;
}

a {
  color: #122121;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700px;
}

/* Messenger Design */
.messenger-box {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.conversationList-box-outer {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  overflow: auto;
}

.conversationList-box-inner {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.add-contact {
  flex: 0 0 auto;
  font-size: 26px;
  height: 62px;
  background-color: #fff;
  border: 1px solid #00000013;
}

/* Styling to every Conversation */

.conversation-box {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #00000013;
}

h4,p {
  margin: 10px 10px 0 10px;
}

.pro-img-box, .profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #52283a;
}

.profile-img {
  align-self: center;
  flex-grow: 1;
}

.profile {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-top: -10px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
  flex-grow: 1;
}

.add-contact {
 background-color: #963e63;
 display: flex;
 padding-left: 15px;
 align-items: center;
}

.add-user-icon {
  width: 40px; 
  background-color: #ffffff;
  border-radius: 50%;
}

.info-conversation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:3px 8px;
}

.message {
  height: 6vh;
  line-height: 40px;
  overflow: hidden;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

.date,.un-read-msg {
  color: #da8bad;
}

.un-read-msg {
  border-radius: 12px;
  background-color: #59a309f5;
  color: #fff;
  padding: 2px 6px;
  align-self: center;
}

/* chat design */
.chat-box-outer {
   display: flex;
  flex-direction: column; 
  flex-grow: 7;
  overflow: auto;

}
.chat-box-inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.recived-msg {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  margin: 5px;
}

.sended-msg {
  align-self: flex-end;
  margin: 5px;
}

.snd-msg-spn {
  background-color: #94526e;
 
}

.rcv-msg-spn {
  background-color: #4d1f32;
  color: white;
}

.rcv-msg-spn,.snd-msg-spn {
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  display: inline-block;
  line-height: 1.4em;
}

header,footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border: 1px solid #00000013;
}

header {
  flex: 0 0 auto;
  padding: 0 10px;
}

footer {
  flex: 0 0 auto;
}


textarea { 
  resize: none;
  overflow: hidden;
  width: 60%;
  border: 0px;
  margin: 10px 30px ;
  padding: 10px;
  height:30px;
  font-size: 14px;
}

.send-msg-btn {
  flex: 0 3 auto;
  align-self: center;

}

/* Start design scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff; 
  border-radius: 5px; height: 30px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff00; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d859aed3; 

}
/* End Design scrollbar */